Repository rcasallas-silabs/connectedhomeip, changes with the owners that CODEOWNERS names for each.
All owners: @jumartin, @jepenven, @ricasall, @makardou, @selissia, @rerasool, @mamehta, @curahman, @berush, @sushanka, @naagarwa, @sabollim, @gbash, @yushu, @shmakdis, @@MatterWatt, @@CICD, @@Documentation, @@MatterCSA, @@MatterWifi, @@Unify

Pull request #1560: [Documentation] MATTER-3043 SMG Release Documentation
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  README.md
  docs/silabs/NEW_FEATURES.md
  docs/silabs/conf.py
  docs/silabs/general/ARTIFACTS.md
  docs/silabs/general/COMMIT_HASHES.md
  docs/silabs/general/OTA_SOFTWARE_UPDATE.md
  docs/silabs/thread/CHIP_TOOL.md
  docs/silabs/wifi/BUILD_DIC.md
  docs/silabs/wifi/RUN_DEMO_SiWx917_SoC.md
  docs/silabs/wifi/SW_SETUP.md
  docs/silabs/wifi/WIFI_SLEEPY_END_DEVICE.md
  docs/silabs/wifi/WIFI_Sleepy_Device_Power_Measurement.md
  docs/silabs/wifi/images/Boostrapping_Error.png
  docs/silabs/wifi/images/git_submodule_error.png
  silabs_examples/dishwasher-app/silabs/README.md
  silabs_examples/onoff-plug-app/README.md
  silabs_examples/silabs-sensors/README.md
Owners: @@Documentation, @@MatterCSA, @@MatterWatt, @@MatterWifi

Pull request #1571: Update submodule hash
  .gitmodules
Owners: none

Pull request #1589: Hotfix/sleepy issue allegion
  .gitmodules
  examples/platform/silabs/FreeRTOSConfig.h
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  third_party/silabs/SiWx917_sdk.gni
Owners: @@MatterCSA

Pull request #1590: Linker file modifications for sleepy
  examples/platform/silabs/ldscripts/SiWx917-common.ld
Owners: @@MatterCSA

Pull request #1622: Port commander fixes
  Jenkinsfile
  pipeline_metadata.yml
Owners: @@MatterWatt, @@CICD

Merge pull request #1628 in WMN_TOOLS/matter from cherry-pick/device-argument to RC_2.3.0-1.3-alpha.3
  provision/modules/arguments.py
  provision/modules/commander.py
  provision/provision.py
Owners: none

Pull request #1629: [Jenkins] Update jenkins branch name to alpha.3
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #1621: Adds configUSE_TICKLESS_IDLE 1 support for SiWx917
  examples/platform/silabs/FreeRTOSConfig.h
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi.h
  examples/platform/silabs/ldscripts/SiWx917-common.ld
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/SiWx917/wifi/wfx_notify.cpp
  third_party/silabs/SiWx917_sdk.gni
Owners: @@MatterCSA

Pull request #1635: Cherry-pick "Pull request #1619: [MATTER-3137] 917 SoC btn0 is triggering after every wakeup"
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Owners: @@MatterCSA

Pull request #1637: Updating wifi sdk and sdk support submodule in alpha3
  .gitmodules
  Jenkinsfile
  examples/platform/silabs/FreeRTOSConfig.h
Owners: @@MatterWatt, @@CICD, @@MatterCSA

Pull request #1636: [SILABS] Multi-chip OTA work (#32349)
  examples/platform/silabs/OTAConfig.cpp
  examples/platform/silabs/OTAConfig.h
  examples/platform/silabs/efr32/BUILD.gn
  scripts/tools/silabs/ota/README.md
  scripts/tools/silabs/ota/crypto_utils.py
  scripts/tools/silabs/ota/ota_image_tool.py
  scripts/tools/silabs/ota/ota_payload.schema
  src/platform/silabs/SiWx917/OTAImageProcessorImpl.cpp
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/OTAImageProcessorImpl.cpp
  src/platform/silabs/multi-ota/OTAMultiImageProcessorImpl.cpp
  src/platform/silabs/multi-ota/OTAMultiImageProcessorImpl.h
  src/platform/silabs/multi-ota/OTATlvProcessor.cpp
  src/platform/silabs/multi-ota/OTATlvProcessor.h
  src/platform/silabs/multi-ota/efr32/OTAFirmwareProcessor.cpp
  src/platform/silabs/multi-ota/efr32/OTAFirmwareProcessor.h
  src/platform/silabs/multi-ota/efr32/OTAHooks.cpp
  third_party/silabs/efr32_sdk.gni
Owners: @@MatterCSA

Pull request #1638: Pull request #1610: MATTER-3235 Cherry-pick: Fix gendiag network interface attribute (#32390)
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
Owners: @@MatterCSA

Pull request #1640: Pull request #1627: MATTER-3232 Refactored ICD defines within AppTask.cpp of sensor,on-off plug, sl-newlight
  silabs_examples/onoff-plug-app/src/AppTask.cpp
  silabs_examples/silabs-sensors/src/AppTask.cpp
  silabs_examples/sl-newLight/efr32/src/AppTask.cpp
  silabs_examples/template/src/AppTask.cpp
Owners: @@MatterWatt, @@MatterWifi

Pull request #1639: Pull request #1608: Cherry-pick:Adjust the default discovery timeout when BLE extend announcement is enabled. (#32300)
  src/include/platform/CHIPDeviceConfig.h
  src/platform/silabs/CHIPDevicePlatformConfig.h
  third_party/silabs/efr32_sdk.gni
Owners: @@MatterCSA

Pull request #1642: [Documentation] Doc updates v2.3.0-1.3-beta.1
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  docs/silabs/NEW_FEATURES.md
  docs/silabs/conf.py
  docs/silabs/general/ARTIFACTS.md
  docs/silabs/general/COMMIT_HASHES.md
Owners: @@Documentation, @@MatterCSA

Pull request #1644: [SiWx917] Adding a flag for m4 sleep on 917 SoC
  examples/platform/silabs/FreeRTOSConfig.h
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  third_party/silabs/SiWx917_sdk.gni
Owners: @@MatterCSA

Pull request #1647: MATTER-3297: Bugfix/add fixes for tickless idle m4 sleep
  examples/platform/silabs/MatterConfig.cpp
  silabs_ci_scripts/pipeline/boards.json
Owners: @@MatterCSA, @@MatterWatt, @@CICD

[Silabs] Wi-fi: Global wfx_rsi into singleton.
  examples/platform/silabs/wifi/rs911x/rs9117.gni
  examples/platform/silabs/wifi/rs911x/rs911x.gni
  examples/platform/silabs/wifi/rs911x/wfx_rsi_host.cpp
  examples/platform/silabs/wifi/siwx917/BUILD.gn
  examples/platform/silabs/wifi/sl_wifi_if.cpp
  examples/platform/silabs/wifi/wf200/wf200.gni
  examples/platform/silabs/wifi/wfx_rsi.h
  examples/platform/silabs/wifi/wfx_rsi_host.cpp
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/wifi/wfx_notify.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/wfx_sl_ble_init.cpp
  src/platform/silabs/rs911x/wfx_sl_ble_init.h
  src/platform/silabs/wifi/wfx_notify.cpp
Owners: @@MatterCSA

CODEOWNERS:

# Avoid codeowners only for cherry-pick pull requests
CODEOWNERS.source_branch_exclusion_pattern cherry-pick/**

@@@MatterCSA @jumartin @jepenven @ricasall @makardou @selissia
@@@MatterWatt @jumartin @jepenven @ricasall @makardou @selissia @rerasool
@@@MatterWifi @mamehta
@@@Documentation @rerasool @curahman @berush
@@@Unify @sushanka @naagarwa @mamehta @sabollim
@@@CICD @gbash @yushu @shmakdis @jepenven

# Pipeline rule
Jenkinsfile @@MatterWatt @@CICD
silabs_ci_scripts/ @@MatterWatt @@CICD

# Documentation is everyone business
**/*.md @@Documentation

# Shared folder with CSA
build/ @@MatterCSA
build_overrides/ @@MatterCSA
config/ @@MatterCSA
credentials/ @@MatterCSA
docs/ @@MatterCSA
docs/silabs/ @@Documentation @@MatterCSA
examples/ @@MatterCSA
integrations/ @@MatterCSA
scripts/ @@MatterCSA
src/ @@MatterCSA
third_party/ @@MatterCSA
zzz_generated/ @@MatterCSA


silabs_examples/ @@MatterWatt @@MatterWifi

silabs_examples/unify-matter-bridge/ @@Unify
silabs_examples/unify-matter-pc/ @@Unify
silabs_examples/unify-matter-common/ @@Unify

CODEOWNERS               @@MatterWatt



# If a group is involved, at least one reviewer of the group must approve
(Check(@@MatterCSA >= 1))
(Check(@@Unify >= 1))
(Check(@@MatterWifi >= 1) | Check(@@MatterWatt >= 1))
(Check(@@CICD >= 1) | Check(@@MatterWatt >= 2))

OverallCheck(2)
