Repository rcasallas-silabs/connectedhomeip, changes with the owners that CODEOWNERS names for each.
All owners: @jumartin, @jepenven, @ricasall, @makardou, @lobelive, @selissia, @curahman, @mirupp, @@MatterWatt, @@MatterCSA

CODEOWNERS:

# Avoid codeowners only for cherry-pick pull requests
CODEOWNERS.source_branch_exclusion_pattern cherry-pick/**

@@@MatterCSA @jumartin @jepenven @ricasall @makardou @lobelive @selissia
@@@MatterWatt @jumartin @jepenven @ricasall @makardou @lobelive @selissia @curahman @mirupp


# Pipeline rule
Jenkinsfile @@MatterWatt
silabs_ci_scripts/ @@MatterWatt

# Documentation is everyone business
**/*.md @@MatterWatt

# Shared folder with CSA
build/ @@MatterCSA
build_overrides/ @@MatterCSA
config/ @@MatterCSA
credentials/ @@MatterCSA
docs/ @@MatterWatt
docs/silabs/ @@MatterWatt
examples/ @@MatterWatt
integrations/ @@MatterCSA
scripts/ @@MatterCSA
src/ @@MatterWatt
third_party/ @@MatterWatt
zzz_generated/ @@MatterCSA

CODEOWNERS               @@MatterWatt


# If a group is involved, at least one reviewer of the group must approve
(Check(@@MatterWatt >= 1))
OverallCheck(2)

[Silabs] Wi-fi: Global wfx_rsi into singleton.
  examples/platform/silabs/wifi/rs911x/rs9117.gni
  examples/platform/silabs/wifi/rs911x/rs911x.gni
  examples/platform/silabs/wifi/rs911x/wfx_rsi_host.cpp
  examples/platform/silabs/wifi/siwx917/BUILD.gn
  examples/platform/silabs/wifi/sl_wifi_if.cpp
  examples/platform/silabs/wifi/wfx_rsi.h
  examples/platform/silabs/wifi/wfx_rsi_host.cpp
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/wifi/wfx_notify.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/wfx_sl_ble_init.cpp
  src/platform/silabs/rs911x/wfx_sl_ble_init.h
  src/platform/silabs/wifi/wfx_notify.cpp
Owners: @@MatterWatt

Fix 917 lock app (#32671)
  .github/workflows/examples-efr32.yaml
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.cpp
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
Owners: @@MatterWatt

Wi-fi cleanup: Code review.
  examples/platform/silabs/efr32/BUILD.gn
Owners: @@MatterWatt

Wi-fi: C to C++.
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/wifi/wfx_host_events.h
  src/platform/silabs/rs911x/wfx_sl_ble_init.cpp
Owners: @@MatterWatt

Pull request #44: updated links on artifacts page and info on using bootloader images
  docs/silabs/general/ARTIFACTS.md
  docs/silabs/general/OTA_BOOTLOADER.md
  docs/silabs/general/OTA_SOFTWARE_UPDATE.md
  docs/silabs/thread/THREAD_PREREQS.md
  docs/silabs/wifi/WIFI_PREREQS.md
Owners: @@MatterWatt

Pull request #36: windows powershell example build scripts
  build/gn_run_binary.py
  scripts/WIN_README.md
  scripts/bootstrap.ps1
  scripts/examples/gn_efr32_example.ps1
  scripts/windows_setup.ps1
Owners: @@MatterCSA

Pull request #33: Clean template app
  silabs_examples/template/efr32/BUILD.gn
  silabs_examples/template/efr32/HOW_TO_CREATE_A_CUSTOM_APP.md
  silabs_examples/template/efr32/README.md
  silabs_examples/template/efr32/src/ZclCallbacks.cpp
  silabs_examples/template/template_DataModel_config/BUILD.gn
  silabs_examples/template/template_DataModel_config/sl_template.matter
  zzz_generated/sl_template/Clusters.matter
  zzz_generated/sl_template/IMClusterCommandHandler.cpp
  zzz_generated/sl_template/PluginApplicationCallbacks.h
  zzz_generated/sl_template/endpoint_config.h
  zzz_generated/sl_template/gen_config.h
  zzz_generated/sl_template/zap-generated/CHIPClientCallbacks.h
  zzz_generated/sl_template/zap-generated/CHIPClusters.h
  zzz_generated/sl_template/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/sl_template/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/sl_template/zap-generated/access.h
  zzz_generated/sl_template/zap-generated/af-gen-event.h
  zzz_generated/sl_template/zap-generated/callback-stub.cpp
  zzz_generated/sl_template/zap-generated/endpoint_config.h
  zzz_generated/sl_template/zap-generated/gen_config.h
  zzz_generated/sl_template/zap-generated/gen_tokens.h
Owners: @@MatterWatt, @@MatterCSA

Pull request #10: Example newLight
  silabs_examples/sl-newLight/efr32/BUILD.gn
  silabs_examples/sl-newLight/efr32/include/AppConfig.h
  silabs_examples/sl-newLight/efr32/include/AppTask.h
  silabs_examples/sl-newLight/efr32/light_modules/LightingManager.cpp
  silabs_examples/sl-newLight/efr32/light_modules/LightingManager.h
  silabs_examples/sl-newLight/efr32/light_modules/led_widget_rgb.cpp
  silabs_examples/sl-newLight/efr32/light_modules/led_widget_rgb.h
  silabs_examples/sl-newLight/efr32/src/AppTask.cpp
  silabs_examples/sl-newLight/efr32/src/ZclCallbacks.cpp
Owners: @@MatterWatt

Pull request #38: Qatest
  Jenkinsfile
Owners: @@MatterWatt

Pull request #47: Fix path by adding the missing -clang- from the new target name
  Jenkinsfile
Owners: @@MatterWatt

Pull request #9: Update QRCode method
  silabs_examples/template/efr32/src/AppTask.cpp
Owners: @@MatterWatt

Pull request #15: 🐛 Compilation bugfix for newLight.
  Jenkinsfile
  silabs_examples/sl-newLight/efr32/include/AppTask.h
  silabs_examples/sl-newLight/newLight_DataModel_config/sl_newLight.matter
  silabs_examples/template/efr32/include/AppTask.h
  zzz_generated/sl_newLight/zap-generated/CHIPClusters.h
  zzz_generated/sl_newLight/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/sl_newLight/zap-generated/access.h
  zzz_generated/sl_newLight/zap-generated/endpoint_config.h
  zzz_generated/sl_newLight/zap-generated/gen_config.h
Owners: @@MatterWatt, @@MatterCSA

Hot Fix CI
  Jenkinsfile
Owners: @@MatterWatt

Pull request #17: Add chip-tool build
  Jenkinsfile
Owners: @@MatterWatt

Fix Jenkins
  Jenkinsfile
Owners: @@MatterWatt

export_examples script
  export_examples.sh
Owners: none

Pull request #25: Competitor removal scripts
  silabs_ci_scripts/release_setup/competitor_removal.py
Owners: @@MatterWatt

Pull request #22: 🐛 Lighting bugfix.
  silabs_examples/sl-newLight/efr32/include/AppEvent.h
  silabs_examples/sl-newLight/efr32/include/AppTask.h
  silabs_examples/sl-newLight/efr32/light_modules/LightingManager.cpp
  silabs_examples/sl-newLight/efr32/light_modules/LightingManager.h
  silabs_examples/sl-newLight/efr32/light_modules/led_widget_rgb.cpp
  silabs_examples/sl-newLight/efr32/light_modules/led_widget_rgb.h
  silabs_examples/sl-newLight/efr32/src/AppTask.cpp
  silabs_examples/sl-newLight/efr32/src/ZclCallbacks.cpp
  silabs_examples/sl-newLight/newLight_DataModel_config/sl_newLight.matter
  silabs_examples/sl-newLight/newLight_DataModel_config/sl_newLight.zap
  zzz_generated/sl_newLight/zap-generated/endpoint_config.h
Owners: @@MatterWatt, @@MatterCSA

Pull request #3: Update CI scripts for Matter
  Jenkinsfile
  silabs_ci_scripts/build_custom_examples.py
  silabs_ci_scripts/build_openthread_csa_examples.py
  silabs_ci_scripts/iot_reports.py
Owners: @@MatterWatt

Pull request #12: Matter documentation
  README.md
  docs/silabs/OVERVIEW.md
  docs/silabs/README.md
  docs/silabs/dev/DEV.md
  docs/silabs/dev/setup/VSCODE_SETUP.md
  docs/silabs/general/ARTIFACTS.md
  docs/silabs/general/COMMIT_HASHES.md
  docs/silabs/general/FIND_RASPI.md
  docs/silabs/general/FLASH_SILABS_DEVICE.md
  docs/silabs/general/ZAP.md
  docs/silabs/general/images/zap_attributes.png
  docs/silabs/general/images/zap_commands.png
  docs/silabs/general/images/zap_endpoint.png
  docs/silabs/general/images/zap_endpoint_1.png
  docs/silabs/general/images/zap_intro.png
  docs/silabs/thread/BUILD_FLASH_MAD.md
  docs/silabs/thread/CHIP_TOOL.md
  docs/silabs/thread/DEMO_OVERVIEW.md
  docs/silabs/thread/FAQ.md
  docs/silabs/thread/RASPI_IMG.md
  docs/silabs/thread/RCP.md
  docs/silabs/thread/THREAD.md
  docs/silabs/thread/THREAD_PREREQS.md
  docs/silabs/thread/images/thread_overview.png
  docs/silabs/wifi/BUILD_CHIP_ENV.md
  docs/silabs/wifi/BUILD_PI_ENV.md
  docs/silabs/wifi/DEMO_OVERVIEW.md
  docs/silabs/wifi/FAQ.md
  docs/silabs/wifi/RUN_DEMO.md
  docs/silabs/wifi/SW_SETUP.md
  docs/silabs/wifi/WIFI.md
  docs/silabs/wifi/WIFI_ANDROID.md
  docs/silabs/wifi/WIFI_PREREQS.md
  docs/silabs/wifi/images/MG12_WF200.jpg
  docs/silabs/wifi/images/sd_into_pi.png
  docs/silabs/wifi/images/wifi_code_edit.png
  docs/silabs/wifi/images/wifi_setup.png
Owners: @@MatterWatt

Pull request #19: Example newLight
  silabs_examples/sl-newLight/efr32/README.md
Owners: @@MatterWatt

Pull request #11: Optimize build time with parrallel node
  Jenkinsfile
  silabs_ci_scripts/build_openthread_csa_examples.py
Owners: @@MatterWatt

Pull request #7: Minor bugfix BT
  silabs_examples/template/efr32/src/main.cpp
Owners: @@MatterWatt

Pull request #35: V0.2.0 doc updates
  .vscode/launch.json
  docs/silabs/README.md
  docs/silabs/dev/setup/VSCODE_SETUP.md
  docs/silabs/dev/vscode/BUILD.md
  docs/silabs/dev/vscode/DEBUG.md
  docs/silabs/dev/vscode/FLASH.md
  docs/silabs/dev/vscode/LOGS.md
  docs/silabs/dev/vscode/SETUP.md
  docs/silabs/dev/vscode/TASKS.md
  docs/silabs/general/ARTIFACTS.md
  docs/silabs/images/Flash_efr32_example.gif
  docs/silabs/images/build_efr32_example.gif
  docs/silabs/images/debug_session.gif
  docs/silabs/images/run_build_task.jpg
  docs/silabs/images/run_build_task_step_2.jpg
  docs/silabs/images/run_build_task_step_3.jpg
  docs/silabs/images/run_build_task_step_4.jpg
  docs/silabs/images/win_run_setup.gif
  docs/silabs/thread/BUILD_FLASH_MAD.md
  docs/silabs/thread/FAQ.md
  docs/silabs/thread/RASPI_IMG.md
  docs/silabs/thread/RCP.md
  docs/silabs/wifi/BUILD_CHIP_ENV.md
  docs/silabs/wifi/DEMO_OVERVIEW.md
  docs/silabs/wifi/FAQ.md
  docs/silabs/wifi/RUN_DEMO.md
  docs/silabs/wifi/SW_SETUP.md
  docs/silabs/wifi/WIFI_ANDROID.md
  docs/silabs/wifi/WIFI_PREREQS.md
Owners: @@MatterWatt

Pull request #23: Build all examples in an optimized way
  Jenkinsfile
  silabs_ci_scripts/build_custom_examples.py
  silabs_ci_scripts/build_openthread_csa_examples.py
Owners: @@MatterWatt

Fix code size report
  Jenkinsfile
  silabs_ci_scripts/iot_reports.py
Owners: @@MatterWatt

Pull request #31: v0.1.0 main readme update
  README.md
  docs/silabs/OVERVIEW.md
  docs/silabs/images/silabs-logo.jpg
Owners: @@MatterWatt

Pull request #41: OTA documentation
  docs/silabs/README.md
  docs/silabs/general/OTA_BOOTLOADER.md
  docs/silabs/general/OTA_SOFTWARE_UPDATE.md
  docs/silabs/general/images/ApplicationUploadEraseFlash.png
  docs/silabs/general/images/CommanderFlashMap.png
  docs/silabs/general/images/InternalFlashLayout.png
  docs/silabs/general/images/StudioProject.png
Owners: @@MatterWatt

Pull request #2: Feature/add example template
  Jenkinsfile
  silabs_examples/template/efr32/.gn
  silabs_examples/template/efr32/BUILD.gn
  silabs_examples/template/efr32/README.md
  silabs_examples/template/efr32/args.gni
  silabs_examples/template/efr32/build_for_wifi_args.gni
  silabs_examples/template/efr32/build_for_wifi_gnfile.gn
  silabs_examples/template/efr32/build_overrides
  silabs_examples/template/efr32/include/AppConfig.h
  silabs_examples/template/efr32/include/AppEvent.h
  silabs_examples/template/efr32/include/AppTask.h
  silabs_examples/template/efr32/include/CHIPProjectConfig.h
  silabs_examples/template/efr32/src/AppTask.cpp
  silabs_examples/template/efr32/src/ZclCallbacks.cpp
  silabs_examples/template/efr32/src/main.cpp
  silabs_examples/template/efr32/third_party/connectedhomeip
  silabs_examples/template/efr32/with_pw_rpc.gni
  silabs_examples/template/template_DataModel_config/BUILD.gn
  silabs_examples/template/template_DataModel_config/sl_template.matter
  silabs_examples/template/template_DataModel_config/sl_template.zap
  zzz_generated/sl_template/CHIPClientCallbacks.h
  zzz_generated/sl_template/CHIPClusters.h
  zzz_generated/sl_template/Clusters.matter
  zzz_generated/sl_template/IMClusterCommandHandler.cpp
  zzz_generated/sl_template/PluginApplicationCallbacks.h
  zzz_generated/sl_template/access.h
  zzz_generated/sl_template/callback-stub.cpp
  zzz_generated/sl_template/endpoint_config.h
  zzz_generated/sl_template/gen_config.h
  zzz_generated/sl_template/gen_tokens.h
Owners: @@MatterWatt, @@MatterCSA

Pull request #16: Add Wifi build
  Jenkinsfile
Owners: @@MatterWatt

Pull request #8: Example newLight
  silabs_examples/sl-newLight/efr32/.gn
  silabs_examples/sl-newLight/efr32/BUILD.gn
  silabs_examples/sl-newLight/efr32/README.md
  silabs_examples/sl-newLight/efr32/args.gni
  silabs_examples/sl-newLight/efr32/build_for_wifi_args.gni
  silabs_examples/sl-newLight/efr32/build_for_wifi_gnfile.gn
  silabs_examples/sl-newLight/efr32/build_overrides
  silabs_examples/sl-newLight/efr32/include/AppConfig.h
  silabs_examples/sl-newLight/efr32/include/AppEvent.h
  silabs_examples/sl-newLight/efr32/include/AppTask.h
  silabs_examples/sl-newLight/efr32/include/CHIPProjectConfig.h
  silabs_examples/sl-newLight/efr32/src/AppTask.cpp
  silabs_examples/sl-newLight/efr32/src/ZclCallbacks.cpp
  silabs_examples/sl-newLight/efr32/src/main.cpp
  silabs_examples/sl-newLight/efr32/third_party/connectedhomeip
  silabs_examples/sl-newLight/efr32/with_pw_rpc.gni
  silabs_examples/sl-newLight/newLight_DataModel_config/BUILD.gn
  silabs_examples/sl-newLight/newLight_DataModel_config/sl_newLight.matter
  silabs_examples/sl-newLight/newLight_DataModel_config/sl_newLight.zap
  zzz_generated/sl_newLight/zap-generated/CHIPClientCallbacks.h
  zzz_generated/sl_newLight/zap-generated/CHIPClusters.h
  zzz_generated/sl_newLight/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/sl_newLight/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/sl_newLight/zap-generated/access.h
  zzz_generated/sl_newLight/zap-generated/af-gen-event.h
  zzz_generated/sl_newLight/zap-generated/callback-stub.cpp
  zzz_generated/sl_newLight/zap-generated/endpoint_config.h
  zzz_generated/sl_newLight/zap-generated/gen_config.h
  zzz_generated/sl_newLight/zap-generated/gen_tokens.h
Owners: @@MatterWatt, @@MatterCSA

Pull request #37: ✏️ Corrections to Color Light app's README.md
  silabs_examples/sl-newLight/efr32/README.md
Owners: @@MatterWatt

Add CI/CD for Matter
  Jenkinsfile
Owners: @@MatterWatt

Pull request #14: Add Window App for OpenThread
  Jenkinsfile
  silabs_ci_scripts/build_openthread_csa_examples.py
Owners: @@MatterWatt

CI HotFix
  Jenkinsfile
Owners: @@MatterWatt

Pull request #29: Cherry-pick: Doc cleanup for v0.1.0
  README.md
  docs/silabs/OVERVIEW.md
  docs/silabs/general/ARTIFACTS.md
  docs/silabs/general/COMMIT_HASHES.md
  docs/silabs/general/FIND_RASPI.md
  docs/silabs/general/FLASH_SILABS_DEVICE.md
  docs/silabs/general/ZAP.md
  docs/silabs/thread/BUILD_FLASH_MAD.md
  docs/silabs/thread/CHIP_TOOL.md
  docs/silabs/thread/DEMO_OVERVIEW.md
  docs/silabs/thread/FAQ.md
  docs/silabs/thread/RASPI_IMG.md
  docs/silabs/thread/RCP.md
  docs/silabs/thread/THREAD.md
  docs/silabs/thread/THREAD_PREREQS.md
  docs/silabs/wifi/BUILD_CHIP_ENV.md
  docs/silabs/wifi/BUILD_PI_ENV.md
  docs/silabs/wifi/DEMO_OVERVIEW.md
  docs/silabs/wifi/FAQ.md
  docs/silabs/wifi/RUN_DEMO.md
  docs/silabs/wifi/SW_SETUP.md
  docs/silabs/wifi/WIFI.md
  docs/silabs/wifi/WIFI_ANDROID.md
  docs/silabs/wifi/WIFI_PREREQS.md
Owners: @@MatterWatt
