Repository rcasallas-silabs/connectedhomeip, changes with the owners that CODEOWNERS names for each.
All owners: @jumartin, @jepenven, @ricasall, @makardou, @selissia, @rerasool, @mamehta, @curahman, @berush, @sushanka, @naagarwa, @sabollim, @gbash, @yushu, @shmakdis, @@MatterWatt, @@CICD, @@Documentation, @@MatterCSA, @@MatterWifi, @@Unify

CODEOWNERS:

# Avoid codeowners only for cherry-pick pull requests
CODEOWNERS.source_branch_exclusion_pattern cherry-pick/**

@@@MatterCSA @jumartin @jepenven @ricasall @makardou @selissia
@@@MatterWatt @jumartin @jepenven @ricasall @makardou @selissia @rerasool
@@@MatterWifi @mamehta
@@@Documentation @rerasool @curahman @berush
@@@Unify @sushanka @naagarwa @mamehta @sabollim
@@@CICD @gbash @yushu @shmakdis @jepenven

# Pipeline rule
Jenkinsfile @@MatterWatt @@CICD
silabs_ci_scripts/ @@MatterWatt @@CICD

# Documentation is everyone business
**/*.md @@Documentation

# Shared folder with CSA
build/ @@MatterCSA
build_overrides/ @@MatterCSA
config/ @@MatterCSA
credentials/ @@MatterCSA
docs/ @@MatterCSA
docs/silabs/ @@Documentation @@MatterCSA
examples/ @@MatterCSA
integrations/ @@MatterCSA
scripts/ @@MatterCSA
src/ @@MatterCSA
third_party/ @@MatterCSA
zzz_generated/ @@MatterCSA


silabs_examples/ @@MatterWatt @@MatterWifi

silabs_examples/unify-matter-bridge/ @@Unify
silabs_examples/unify-matter-pc/ @@Unify
silabs_examples/unify-matter-common/ @@Unify

CODEOWNERS               @@MatterWatt



# If a group is involved, at least one reviewer of the group must approve
(Check(@@MatterCSA >= 1))
(Check(@@Unify >= 1))
(Check(@@MatterWifi >= 1) | Check(@@MatterWatt >= 1))
(Check(@@CICD >= 1) | Check(@@MatterWatt >= 2))

OverallCheck(2)

Pull request #1501: Update readme and Issue template with new smg version
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  README.md
Owners: @@Documentation

Pull request #1502: [Documentation] Further SMG Release Documentation Cleanup
  docs/silabs/general/ARTIFACTS.md
  docs/silabs/general/COMMISSIONING.md
  docs/silabs/general/FLASH_SILABS_SiWx917_SOC_DEVICE.md
  docs/silabs/general/MATTER_ICD.md
  docs/silabs/general/SOFTWARE_REQUIREMENTS.md
  docs/silabs/thread/OT_SLEEPY_END_DEVICE.md
  docs/silabs/wifi/SW_SETUP.md
Owners: @@Documentation, @@MatterCSA

Convert zap files and regen after rebase
  silabs_examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.matter
  silabs_examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.matter
  silabs_examples/onoff-plug-app/onoff-plug-common/onoff-plug-app.matter
  silabs_examples/template/template_DataModel_config/sl_template.matter
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/attribute_translator.cpp
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/attribute_translator.hpp
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/attribute_type_size.cpp
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/chip_types_from_json.hpp
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/chip_types_to_json.hpp
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/cluster_revision_table.hpp
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/command_translator.cpp
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/command_translator.hpp
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/device-type-mapper/matter_id_model.inc
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/zcl_global_types.hpp
  silabs_examples/unify-matter-pc/unify-matter-pc-common/unify-matter-pc.zap
Owners: @@MatterWatt, @@MatterWifi, @@Unify

Pull request #1478: Sensor app refactor
  silabs_ci_scripts/pipeline/apps.json
  silabs_examples/silabs-sensors/BUILD.gn
  silabs_examples/silabs-sensors/README.md
  silabs_examples/silabs-sensors/data_model/BUILD.gn
  silabs_examples/silabs-sensors/data_model/contact-sensor/contact-wifi-app.matter
  silabs_examples/silabs-sensors/data_model/contact-sensor/contact-wifi-app.zap
  silabs_examples/silabs-sensors/data_model/occupancy-sensor/occupancy-thread-app.matter
  silabs_examples/silabs-sensors/data_model/occupancy-sensor/occupancy-wifi-app.matter
  silabs_examples/silabs-sensors/data_model/occupancy-sensor/occupancy-wifi-app.zap
  silabs_examples/silabs-sensors/data_model/sensor-thread-app.matter
  silabs_examples/silabs-sensors/data_model/sensor-thread-app.zap
  silabs_examples/silabs-sensors/data_model/sensor-wifi-app.matter
  silabs_examples/silabs-sensors/data_model/sensor-wifi-app.zap
  silabs_examples/silabs-sensors/data_model/temperature-sensor/temperature-thread-app.matter
  silabs_examples/silabs-sensors/data_model/temperature-sensor/temperature-thread-app.zap
  silabs_examples/silabs-sensors/data_model/temperature-sensor/temperature-wifi-app.zap
  silabs_examples/silabs-sensors/include/AppConfig.h
  silabs_examples/silabs-sensors/include/AppTask.h
  silabs_examples/silabs-sensors/include/SensorsCallbacks.h
  silabs_examples/silabs-sensors/include/SensorsUI.h
  silabs_examples/silabs-sensors/src/AppTask.cpp
  silabs_examples/silabs-sensors/src/SensorsCallbacks.cpp
  silabs_examples/silabs-sensors/src/SensorsUI.cpp
Owners: @@MatterWatt, @@CICD, @@MatterWifi

Pull request #1504: Ported back changes to silabs
  docs/silabs/NEW_FEATURES.md
Owners: @@Documentation, @@MatterCSA

Pull request #1523: Cherry-pick - Pull request #1493: Re-add OTA GBL generation for the SiWx917 NCP
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #1524: NoJira: Fixes unify build failues
  Jenkinsfile
  silabs_examples/unify-matter-bridge/linux/src/tests/BUILD.gn
  silabs_examples/unify-matter-bridge/linux/zap-generated/data-models/matter_support_model.js
  silabs_examples/unify-matter-bridge/linux/zap-generated/data_model_translator/device-type-mapper/matter_id_model.inc
  silabs_examples/unify-matter-bridge/linux/zap-generated/unify-data-model-templates/device-type-mapper/matter_device_mapper.inc
  silabs_examples/unify-matter-pc/linux/src/tests/BUILD.gn
Owners: @@MatterWatt, @@CICD, @@Unify

Pull request #1528: re-add 917 ncp to ci apps builds
  silabs_ci_scripts/pipeline/apps.json
Owners: @@MatterWatt, @@CICD

Pull request #1529: NoJira: Update Unify Release branch path
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #1531: Ensure variables are local by using def so they can't be accesed by multiple threads.
  silabs_ci_scripts/pipeline/soc.groovy
Owners: @@MatterWatt, @@CICD

Pull request #1499: provision: JLink support for Si917.
  provision/support/JLinkDevices.xml
Owners: none

Pull request #1492: Add a condition in the build script to avoid OT-libs build args in wifi builds.
  scripts/examples/gn_silabs_example.sh
  silabs_ci_scripts/pipeline/boards.json
Owners: @@MatterCSA, @@MatterWatt, @@CICD

Pull request #1484: [MATTER-2975] reduce the interval between thread poll from 30s to 5s while in IdleMode
  examples/light-switch-app/silabs/openthread.gni
Owners: @@MatterCSA

Pull request #1498: Cherry pick/mpc enable mDNS discovery
  silabs_examples/unify-matter-pc/linux/BUILD.gn
  silabs_examples/unify-matter-pc/linux/src/components/mpc_nw_monitor/src/mpc_nw_monitor.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ResolverProxy.cpp
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/lib/shell/commands/Dns.cpp
Owners: @@Unify, @@MatterCSA

Pull request #1485: [Documentation] Update Version and Artifacts
  docs/silabs/general/ARTIFACTS.md
  docs/silabs/general/COMMIT_HASHES.md
Owners: @@Documentation, @@MatterCSA

Provision: Added missing x917 support file.
  provision/support/JLinkDevices.xml
  provision/support/si917/RS9117_SF_4MB_42bsp.elf
Owners: none

Pull request #1527: Updating wifi_sdk to v3.1.3
  .gitmodules
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #1525: Cherry-Pick Add handling for SetAliroReaderConfig and ClearAliroReaderConfig commands (#31700)
  src/app/clusters/door-lock-server/door-lock-delegate.h
  src/app/clusters/door-lock-server/door-lock-server-callback.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Owners: @@MatterCSA

Pull request #1517: [DRAFT] Enabling Jenkins CI for 917 SoC
  Jenkinsfile
  silabs_ci_scripts/pipeline/soc.groovy
Owners: @@MatterWatt, @@CICD

Pull request #1535: [Silabs] Add CSL support to silabs platform
  examples/light-switch-app/silabs/src/AppTask.cpp
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/efr32/project_include/OpenThreadConfig.h
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
  examples/window-app/silabs/openthread.gn
  examples/window-app/silabs/openthread.gni
  scripts/examples/gn_silabs_example.sh
  src/platform/silabs/CHIPDevicePlatformConfig.h
  third_party/silabs/efr32_sdk.gni
Owners: @@MatterCSA

Pull request #1537: MATTER-3072 - Disable open basic commisisoning command on apps that had the featuremap to AdministratoreCommissioning cluster (#31877)
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
Owners: @@MatterCSA

Pull request #1542: MATTER-3071 - Fix Reboot Cause always 0
  src/platform/silabs/ConfigurationManagerImpl.h
  src/platform/silabs/efr32/ConfigurationManagerImpl.cpp
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
  src/platform/silabs/platformAbstraction/SilabsPlatform.h
  src/platform/silabs/platformAbstraction/SilabsPlatformBase.h
Owners: @@MatterCSA

Pull request #1539: MATTER-3085 - Enabling wpa3 mode by default while building matter applications
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
Owners: @@MatterCSA

Pull request #1545: MATTER-3097 - Update Basic info and the General diagnostic clusters revision
  silabs_examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.matter
  silabs_examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.zap
  silabs_examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.matter
  silabs_examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.zap
  silabs_examples/onoff-plug-app/onoff-plug-common/onoff-plug-app.matter
  silabs_examples/onoff-plug-app/onoff-plug-common/onoff-plug-app.zap
  silabs_examples/silabs-sensors/data_model/sensor-thread-app.matter
  silabs_examples/silabs-sensors/data_model/sensor-thread-app.zap
  silabs_examples/silabs-sensors/data_model/sensor-wifi-app.matter
  silabs_examples/silabs-sensors/data_model/sensor-wifi-app.zap
  silabs_examples/template/template_DataModel_config/sl_template.matter
  silabs_examples/template/template_DataModel_config/sl_template.zap
Owners: @@MatterWatt, @@MatterWifi

Pull request #1547: MATTER-3090 Update cluster revision for basic and diagnostic clusters
  silabs_examples/unify-matter-bridge/linux/src/cluster_translator/bridged_device_basic_info_attribute_translator.cpp
  silabs_examples/unify-matter-bridge/unify-matter-bridge-common/unify-matter-bridge.matter
  silabs_examples/unify-matter-bridge/unify-matter-bridge-common/unify-matter-bridge.zap
Owners: @@Unify

Pull request #1549: NoJira: Updated unify docs with new build command
  docs/silabs/unify/matter-bridge/readme_building.md
  docs/silabs/unify/matter-bridge/readme_building_x86_64.md
  docs/silabs/unify/matter-protocol-controller/readme_building.md
Owners: @@Documentation, @@MatterCSA

Pull request #1538: Updating wifisdk to v3.1.3-rc3
  examples/platform/silabs/efr32/rs911x/hal/efx32_ncp_host.c
  examples/platform/silabs/efr32/rs911x/rs9117.gni
  src/platform/silabs/SilabsConfig.cpp
Owners: @@MatterCSA

Pull request #1534: [MATTER-3042] :Allow M4 to go to sleep when it is uncommissioned
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi.h
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi_host.c
  examples/platform/silabs/efr32/rs911x/hal/sl_board_configuration.h
  examples/platform/silabs/efr32/rs911x/wfx_rsi.h
  examples/platform/silabs/efr32/rs911x/wfx_rsi_host.c
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
  src/platform/silabs/SiWx917/OTAImageProcessorImpl.cpp
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/SiWx917/wifi/wfx_notify.cpp
  src/platform/silabs/efr32/wifi/wfx_host_events.h
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
Owners: @@MatterCSA

Pull request #1556: modify sqa testing branch to pass 917soc flashing issue
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #1557: [SiWx917] Using the default clock for the sleepy application
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Owners: @@MatterCSA

Pull request #1555: MATTER-3107 disable csl/ssed on window-app.
  examples/window-app/silabs/openthread.gni
Owners: @@MatterCSA

Pull request #1559: [MATTER-3021] - Fixed build warnings.
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
Owners: @@MatterCSA

Pull request #1558: MATTER-3110 Fix for Ecosystem app build
  silabs_ci_scripts/pipeline/apps.json
  silabs_ci_scripts/pipeline/soc.groovy
Owners: @@MatterWatt, @@CICD

Pull request #1561: Update to gsdk 4.4.1 rc3
  examples/platform/silabs/efr32/wf200/host_if.cpp
  third_party/silabs/efr32_sdk.gni
Owners: @@MatterCSA

Pull request #1552: [MATTER-2763]wifi-917NCP_enabling LCD
  examples/platform/silabs/efr32/rs911x/hal/efx32_ncp_host.c
  examples/platform/silabs/efr32/rs911x/hal/sl_si91x_ncp_utility.c
  examples/platform/silabs/efr32/rs911x/hal/sl_si91x_ncp_utility.h
  third_party/silabs/silabs_board.gni
Owners: @@MatterCSA

Pull request #1563: [CI] [MATTER-3119]Enabling diswasher app in 917 NCP and add low_power_sleepy for 917 SoC
  silabs_ci_scripts/pipeline/apps.json
  silabs_ci_scripts/pipeline/boards.json
Owners: @@MatterWatt, @@CICD

Pull request #1562: [MATTER-2980] Reducing the users and credentials per user for the Lock app
  examples/lock-app/lock-common/lock-app.zap
  examples/lock-app/silabs/include/LockManager.h
Owners: @@MatterCSA

hotfix: fix compile option incoherence made apparent by pr#1558. ota release build can't enable chip-shell. result output are the same as pre pr1558.
  silabs_ci_scripts/pipeline/apps.json
Owners: @@MatterWatt, @@CICD

Pull request #1568: [Cherry-pick] Update Silabs ICD status LED functionality description within README.md's
  docs/QUICK_START.md
  docs/guides/silabs_efr32_software_update.md
  examples/light-switch-app/silabs/README.md
  examples/lit-icd-app/silabs/README.md
  examples/lock-app/silabs/README.md
  scripts/examples/gn_silabs_example.sh
Owners: @@MatterCSA

Pull request #1566: [MATTER-3125]Adding 5 retries from the firmware and calling sleepy directly in retry
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  src/platform/silabs/SiWx917/wifi/wfx_notify.cpp
Owners: @@MatterCSA
